{% extends 'livreur/base_livreur.html.twig' %}

{% block livreur_content %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>My Current Deliveries</h3>
        </div>
        <div class="card-body ">
            {% if deliveries is empty %}
                <p class="text-center">No current deliveries</p>
            {% else %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>From</th>
                                <th>To</th>
                                {# <th>Action</th> #}
                            </tr>
                        </thead>
                        <tbody>
                            {% for delivery in deliveries %}
                                <tr>
                                    <td>#{{ delivery.idCommande }}</td>
                                    <td>{{ delivery.adresse_dep }}</td>
                                    <td>{{ delivery.adresse_arr }}</td>
                                    {# <td>
                                        <a href="{{ path('app_livreur_complete', {'id': delivery.idCommande}) }}" 
                                           class="btn btn-primary btn-sm">Mark as Delivered</a>
                                    </td> #}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
