{% block body %}
    <h1>Statistiques des articles</h1>
     {% include 'statistiques/_chart.html.twig' %}
    <div id="chart_div" style="width: 900px; height: 500px;"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});

    // Attendre l'ouverture complète du modal pour dessiner le graphique
    $('#statModal').on('shown.bs.modal', function () {
        drawChart();
    });

    function drawChart() {
        const data = google.visualization.arrayToDataTable({{ stats|json_encode|raw }});

        const options = {
            title: 'Stock des articles',
            is3D: true,
            colors: ['#41b123', '#068408'] // Couleurs personnalisées
        };

        const chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

{% endblock %}
