<form method="post" action="{{ path('app_article_delete', {'id_article': article.id_article}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id_article) }}">
    <button class="btn">Delete</button>
</form>
